:root {
  --pink-gradient: linear-gradient(#e65895, #bc6be8);
}

body {
  margin: 0;
  padding: 0;

  background-image: url("./assets/bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: 24px;
  min-height: 100vh;
}

h1 {
  font-size: 22px;
  margin: 0;
}

h2 {
  font-size: 20px;
}

.country-quiz__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.country-quiz__header-container__points {
  background: var(--pink-gradient);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 22px;
  padding: 6px 12px;

  display: flex;
  gap: 8px;
}

.country-quiz__main-container {
  background-color: #343964;
  padding: 24px 12px;
  border-radius: 8px;
  gap: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-quiz__numbers-questions,
.country-quiz__options-container {
  button {
    background: #393F6E;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;

    &.answered,
    &.selected {
      background: var(--pink-gradient);
    }
  
    &:hover,
    &:focus-visible {
      background: #8B8EAB;
    }
  }

}

.country-quiz__numbers-questions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }
}

.country-quiz__options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  button {
    border-radius: 8px;
    padding: 16px;
    width: 100%;
  }
}
