body {
  margin: 0;
  padding: 0;

  background-image: url("./assets/bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: 16px;
  min-height: 100vh;
}

h1 {
  font-size: 22px;
  margin: 0;
}

.country-quiz__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country-quiz__header-container__points {
  background: linear-gradient(#E65895, #BC6BE8);
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 22px;
  padding: 6px 12px;

  display: flex;
  gap: 8px;
}