@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --pink-gradient: linear-gradient(#e65895, #bc6be8);
}

body {
  margin: 0;
  padding: 0;

  background-image: url("./assets/bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
a,
button,
input {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #e2e4f3;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: 24px;
  min-height: 100vh;
  max-width: 880px;
  margin: 0 auto;
}

h1,
h2,
p {
  font-weight: 600;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.country-quiz__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.country-quiz__header-container__points {
  background: var(--pink-gradient);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 22px;
  padding: 6px 12px;

  display: flex;
  gap: 8px;
}

.country-quiz__main-container {
  background-color: #343964;
  padding: 24px 12px;
  border-radius: 8px;
  gap: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &.congrats-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
    gap: 16px;
  }
}

.country-quiz__numbers-questions,
.country-quiz__options-container {
  button {
    background: #393f6e;
    color: #e2e4f3;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;

    &.answered,
    &.selected {
      background: var(--pink-gradient);
    }

    &:hover,
    &:focus-visible {
      background: #8b8eab;
    }
  }
}

.country-quiz__numbers-questions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.country-quiz__options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;

  button {
    border-radius: 8px;
    padding: 16px;
    width: 100%;
  }
}

@media (min-width: 580px) {
  h1 {
    font-size: 24px;
  }
  .country-quiz__main-container {
    padding-block: 60px;
  }
  .country-quiz__options-container {
    flex-flow: row wrap;
    gap: 16px;
    button {
      width: calc(50% - 16px);
    }
  }
}
